
.ui.basic.button {
	color: #b35959 !important;
	background-color: transparent !important;
	box-shadow: none;
}

.ui.basic.active.button {
	color: #b35959 !important;
}

.hidden.content {
	color: #b35959 !important;
}

.ui.primary.button {
	background-color: #b35959;
}

.ui.primary.button:hover {
	background-color: #b35959;
}

.text-color {
	color: #b35959 !important;
}